<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homepage.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriverServlet1</servlet-name>
        <servlet-class>Controller.AddDriverServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriServlet1</servlet-name>
        <servlet-class>Controller.DeleteDriServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStdFalServlet1</servlet-name>
        <servlet-class>Controller.DeleteStdFalServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet1</servlet-name>
        <servlet-class>Controller.DeleteStaffServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDriServlet1</servlet-name>
        <servlet-class>Controller.UpdateDriServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStdFalServlet1</servlet-name>
        <servlet-class>Controller.UpdateStdFalServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet1</servlet-name>
        <servlet-class>Controller.UpdateStaffServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bScheduleServlet</servlet-name>
        <servlet-class>Controller.bScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusesServlet1</servlet-name>
        <servlet-class>Controller.AddBusesServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBusesServlet1</servlet-name>
        <servlet-class>Controller.DeleteBusesServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBusesServlet1</servlet-name>
        <servlet-class>Controller.UpdateBusesServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusSchedule</servlet-name>
        <servlet-class>Controller.AddBusSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBusSchedule</servlet-name>
        <servlet-class>Controller.EditBusSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBusSchedule</servlet-name>
        <servlet-class>Controller.DeleteBusSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet1</servlet-name>
        <url-pattern>/AddDriverServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriServlet1</servlet-name>
        <url-pattern>/DeleteDriServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStdFalServlet1</servlet-name>
        <url-pattern>/DeleteStdFalServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet1</servlet-name>
        <url-pattern>/DeleteStaffServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDriServlet1</servlet-name>
        <url-pattern>/UpdateDriServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStdFalServlet1</servlet-name>
        <url-pattern>/UpdateStdFalServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet1</servlet-name>
        <url-pattern>/UpdateStaffServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bScheduleServlet</servlet-name>
        <url-pattern>/bScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusesServlet1</servlet-name>
        <url-pattern>/AddBusesServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBusesServlet1</servlet-name>
        <url-pattern>/DeleteBusesServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBusesServlet1</servlet-name>
        <url-pattern>/UpdateBusesServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusSchedule</servlet-name>
        <url-pattern>/AddBusSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBusSchedule</servlet-name>
        <url-pattern>/EditBusSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBusSchedule</servlet-name>
        <url-pattern>/DeleteBusSchedule</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
